$color-blue: #b2d235;
$font-family: Open Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
$shadow-hapo: #888888;
$color-button: white;
$footer-bg: #505353;
$footer-end: #454545;
$star: yellow;
$message: blue;
$color-google: #dc4e41;
$color-facebook: #3b5999;
$bg-input: #f2f2f2;
$buton-hover: #ffaaff;
$bg-banner: #e5e5e5;
$other-courses: #11114e;
$view-courses: #90ab26;
$boder-slick: #d9dadc;
$next-color: #969494;
$hello-color: #f1f0f0;
$hapo-message: #7f7f7f;
$login-mess: #b2b2b2;
$mess: #3184f7;
$google-color: #dc4e41;
$fb-color: #3b5999;
$red: red;
$blue: blue;

@font-face {
    src: url(../assets/fonts/UTM\ BryantLG.ttf);
    font-family: utm;
}
@font-face {
    src: url(../assets/fonts/OpenSans-Bold.ttf);
    font-family: san;
}
