@import "variable";

@media only screen and (max-width: 1950px) {
  .header {
    padding: 10px;

    .navbar {
      padding: 0px;

      img {
        width: 275px;
      }

      .navbar-menu-div {
        justify-content: flex-end;
      }

      .nav-link {
        margin: 10px;
        font-weight: 700;
        font-family: san;
        font-size: 14px;
        color: $footer-bg;
      }
      .active {
        background-color: $color-blue;
        color: $color-button !important;
        border-radius: 17px;
      }

      .nav-link:hover {
        padding: 8px;
        background-color: $color-blue;
        border-radius: 17px;
        color: $color-button !important;
      }
    }
  }

  .fix-fixed {
    margin-top: 0px;
  }

  .banner {
    background-image: url("../assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 655px;
    margin-top: -30px;

    .info-banner {
      padding: 50px;

      p:nth-child(1) {
        margin-top: 140px;
        font-size: 43px;
        font-family: utm;
        text-shadow: 5px;
        color: $other-courses;
        font-weight: 700;
      }

      p:nth-child(2) {
        font-size: 43px;
        font-weight: 700;
        font-family: utm;
        text-shadow: 2px 2px $other-courses;
        -webkit-text-stroke-width: 2px;
        margin-top: -30px;
        color: $other-courses;
      }

      img {
        width: 45px;
      }

      p:nth-child(3) {
        font-size: 16px;
        font-family: utm;
      }

      button {
        padding: 7px;
        font-family: utm;
        font-size: 28px;
        border: 0;
        background-color: $color-blue;
        border-radius: 35px;
        width: 400px;
        box-shadow: 0px -2px 4px 0px $shadow-hapo;
        margin-bottom: 100px;
        color: $color-button;
        font-weight: 700;
      }
      button:hover {
        color: $buton-hover;
      }
    }
  }

  .bg-banner {
    height: 200px;
    background-image: linear-gradient(to top, $bg-banner, $color-button);
  }

  .tutorial-hapo {
    margin-top: -100px;

    .text-title {
      font-weight: 700;
      font-size: 14px;
      font-family: utm;
    }

    .other-courses {
      margin-top: 100px;

      .courses {
        font-size: 80px;
        font-weight: 700;
        color: $other-courses;
        font-family: utm;
        border-bottom: 5px solid $color-blue;
        width: 510px;
        margin: auto;
        margin-bottom: 50px;
        text-shadow: 1px 1px $other-courses;
      }
    }

    .view-courses p {
      font-size: 40px;
      color: $view-courses;
      margin-top: 60px;
      margin-bottom: 120px;
      font-weight: 700;
      font-family: utm;
      text-shadow: 1px 1px $view-courses;
    }

    .view-courses p:hover {
      font-size: 60px;
    }

    .card-hapo {
      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 1px 1px 12px $shadow-hapo;
        height: 215px;
      }

      a {
        background-color: $color-blue;
        font-size: 18px;
        width: 200px;
        border-radius: 35px;
        border: 0;
        box-shadow: 1px -2px $shadow-hapo;
        padding: 10px;
        margin-bottom: 20px;
        font-weight: 700;
        font-family: utm;
      }

      a:hover {
        color: $buton-hover;
      }

      .card-body p:nth-child(1) {
        font-size: 30px;
        color: $color-blue;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 37px;
        font-family: utm;
        font-weight: 700;
      }
    }

    .card-body {
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      box-shadow: 1px 1px 5px $shadow-hapo;
      background-color: $color-button;
    }
  }

  .why-hapo {
    background-image: url("../assets/img/bg.png");
    background-repeat: no-repeat;
    height: 740px;
    background-size: 100% 740px;

    .laptop img {
      margin-top: -260px;
      width: 478px;
    }

    .laptop-phone img {
      width: 750px;
    }

    .info-laptop {
      display: flex;
      margin-top: -300px;
    }

    .info-why {
      float: right;
      width: 50%;
      margin-top: 180px;
    }

    p {
      font-weight: 700;
      font-family: utm;
      color: $color-button;
      font-size: 70px;
      float: right;
    }

    .list-whyhapo {
      color: $color-button;
      line-height: 40px;

      li {
        float: right;
      }

      span {
        font-size: 20px;
        font-family: stm;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 50px;
      }
    }
  }

  .feedback {
    margin-top: 90px;

    .fellback-all {
      width: 85%;
      margin: auto;
    }

    .feedback-title {
      font-size: 80px;
      font-weight: 700;
      border-bottom: 5px solid $color-blue;
      margin: auto;
      width: 350px;
      font-family: utm;
      color: $other-courses;
      text-shadow: 1px 1px $other-courses;
    }

    .feedback-info {
      font-size: 25px;
      margin-top: 20px;
      font-family: utm;
    }
  }

  .feelback-card {
    margin-top: 50px;
    margin-bottom: 70px;

    .feelback-info {
      margin: auto;
      width: 95%;
      border-radius: 10px;
      padding: 25px;
      box-shadow: 0px 0px 2px 2px $boder-slick;
      font-size: 16px;
      font-family: utm;
    }

    .feelback-border {
      border-left: 4px solid $boder-slick;
      margin-left: 10px;
      padding: 10px;
    }

    .user {
      margin: 40px 0px 0px 40px;
      display: flex;

      .image-user {
        width: 80px;
      }
    }

    .user-info {
      .name-user {
        font-size: 20px;
        font-family: utm;
        font-weight: 700;
        color: $other-courses;
        text-shadow: 1px 1px $other-courses;
      }
      .name-courses {
        font-size: 16px;
        margin-top: -20px;
        font-weight: 700;
        font-family: utm;
      }

      .star {
        font-size: 14px;
        margin-top: -16px;
        color: $star;
      }
    }
  }

  .prev {
    width: 22px;
    border-radius: 100%;
    position: absolute;
    top: 30%;
    left: 0.1%;
    background-color: $color-button;
    border: 2px solid $shadow-hapo;
    text-align: center;
    z-index: 1;
    color: $next-color;
  }

  .next {
    width: 22px;
    border-radius: 100%;
    background-color: $color-button;
    position: absolute;
    top: 30%;
    right: 0.1%;
    border: 2px solid $shadow-hapo;
    text-align: center;
    color: $next-color;
  }

  .become-member {
    background-image: url("../assets/img/become-member.png");
    background-repeat: no-repeat;
    background-size: 100% 500px;

    .info-become {
      padding: 100px;

      p:nth-child(1) {
        font-size: 60px;
        font-weight: 700;
        color: $color-button;
        font-family: utm;
        text-shadow: 1px 1px $color-button;
      }

      button {
        font-size: 30px;
        border: 0;
        background-color: $color-button;
        border-radius: 35px;
        width: 400px;
        box-shadow: 2px -2px 5px $shadow-hapo;
        color: $color-blue;
        font-weight: 700;
        font-family: utm;
        padding: 10px;
      }

      button:hover {
        color: $buton-hover;
      }
    }
  }

  .statistic {
    margin-top: 60px;
    .statis {
      font-size: 80px;
      border-bottom: 5px solid $color-blue;
      color: $other-courses;
      font-family: utm;
      width: 280px;
      margin: auto;
      text-shadow: 1px 1px $other-courses;
      font-weight: 700;
    }

    .div-statistic {
      margin-top: 30px;
      width: 67%;

      .card-statistic {
        border: none;
      }

      p:nth-child(1) {
        font-size: 60px;
        font-family: utm;
        color: $footer-bg;
        font-family: 700;
        text-shadow: 1px 1px $footer-bg;
      }

      p:nth-child(2) {
        font-size: 60px;
        font-weight: 700;
        color: $color-blue;
        font-family: utm;
      }
    }
  }

  .footer {
    padding: 40px;
    background-color: $footer-bg;
    margin-top: 100px;
    color: $color-button;

    .footer-image {
      width: 38%;

      img {
        width: 290px;
        margin-left: 80px;
      }

      p {
        font-size: 20px;
        margin-left: 150px;
        font-family: utm;
      }
    }

    .home {
      width: 12%;

      p {
        font-size: 20px;
        font-family: utm;
        font-weight: 700;
      }

      p:hover {
        color: $buton-hover;
      }
    }

    .contact {
      width: 13%;

      p {
        font-size: 20px;
        margin-left: 20px;
        font-family: utm;
        font-weight: 700;
      }

      p:hover {
        color: $buton-hover;
      }
    }

    .footer-icon {
      width: 37%;

      .icon-footer {
        margin-left: 40px;
      }

      img {
        margin-top: 80px;
        margin-left: 30px;
      }

      img:hover {
        width: 70px;
      }
    }
  }

  .footer-end {
    background-color: $footer-end;

    p {
      color: $color-button;
      text-align: center;
      font-size: 15px;
      padding: 5px;
      font-family: utm;
    }

    p:hover {
      color: $buton-hover;
    }
  }

  .mess-facebook {
    border: 0;
    width: 20px;
    top: 88%;
    left: 92%;
    position: fixed;

    a {
      text-decoration: none;
    }

    .hide {
      display: none;
      width: 360px;
      height: 190px;
      float: right;
    }

    .frame-mess {
      height: 190px;
      width: 360px;
      margin-right: -50px;
      border-radius: 23px;
      margin-top: -270px;
      float: right;
      box-sizing: border-box;
      box-shadow: 1px 1px 4px 1px $shadow-hapo;
      border: 1px solid $color-button;
      background-color: $color-button;
    }

    .frame-hapo {
      p {
        margin-left: 60px;
        font-weight: 600;
        font-family: san;
        padding: 8px;
        display: inline-block;
        font-size: 12px;
        color: $hapo-message;
      }

      img {
        float: right;
        padding: 8px;
        margin-right: 10px;
      }

      img:hover {
        background-color: $color-blue;
        border-radius: 100%;
      }
    }

    .hello {
      margin-top: -20px;
      img {
        margin-left: 5px;
      }

      p {
        display: inline-block;
        font-size: 12px;
        margin-left: 5px;
        background-color: $hello-color;
        border-radius: 15px;
        width: 256px;
        height: 53px;
        padding: 10px;
        font-weight: 600;
        font-family: san;
        color: $footer-bg;
      }
    }

    .login-mess {
      background-color: $mess;
      margin: auto;
      margin-top: 5px;
      width: 276px;
      border-radius: 10px;
      padding: 5px;

      img {
        margin-left: 36px;
      }

      span {
        font-size: 12px;
        color: $color-button;
        font-family: san;
        letter-spacing: 1px;
        font-weight: 600;
      }
    }

    .login-mess:hover {
      background-color: $message;
    }

    .chat-hapo {
      color: $login-mess;
      text-align: center;
      font-size: 12px;
      font-family: san;
      margin-top: 5px;
    }

    .chat-hapo:hover {
      color: $footer-end;
    }
  }

  .frame-loginn {
    position: fixed;
    margin-top: -150px;
    margin-left: 40px;
  }

  .login-register {
    padding: 0px;
    margin: 0px;
    width: 430px;
    height: 640px;
    position: relative;
  }

  .tabs {
    .button-close {
      border-radius: 100%;
      border: none;
      padding: 0px;
      margin-left: 94%;
      margin-top: -10px;
      position: absolute;
    }

    ul {
      padding: 0px;
      display: flex;
    }

    li {
      list-style: none;
      margin: auto;
      width: 50%;
      height: 70px;

      a {
        text-decoration: none;
        color: $color-blue;
      }

      p {
        text-align: center;
        border-bottom: 1px solid $color-blue;
      }
    }

    .login {
      p {
        padding: 20px;
        font-size: 25px;
        font-weight: 700;
        font-family: utm;
      }

      p:hover {
        background-color: $message;
      }
    }

    .img-fb {
      width: 12px;
    }

    .register {
      p {
        padding: 20px;
        font-size: 25px;
        font-weight: 700;
        font-family: utm;
      }

      p:hover {
        background-color: $message;
      }
    }

    .tabs-container {
      width: 90%;

      span {
        font-size: 20px;
        font-family: utm;
        font-style: bold;
        color: $footer-bg;
        font-weight: 700;
      }

      .check-box {
        height: 20px;
        width: 20px;
        background-color: $color-blue;
        float: left;
        margin-top: 5px;
      }

      .check-box:hover {
        background-color: $color-blue;
      }

      input {
        width: 100%;
        height: 50px;
        background-color: $bg-input;
        border: none;
        margin-bottom: 20px;
      }

      .user-input {
        margin-top: -20px;
      }
      .login-check {
        margin: auto;
      }

      .rememberme a {
        text-decoration: none;
        color: $footer-bg;
      }

      .rememberme a:hover {
        color: $message;
      }

      .forgot {
        float: right;
        color: $color-blue;
      }

      .forgot:hover {
        color: $message;
      }

      .login-hapo {
        width: 200px;
        background-color: $color-blue;
        border-radius: 22px;
        margin-top: 20px;
        border: $color-blue;
        font-weight: 700;
        font-size: 18px;
        font-family: utm;
        padding: 8px;
        box-shadow: 1px -2px 1px 1px $login-mess;
      }

      .login-hapo:hover {
        background-color: $message;
      }

      .login-with {
        border-bottom: 1px solid $shadow-hapo;
        font-style: bold;
        font-size: 20px;
        font-family: utm;
        font-weight: 700;
        margin: 0px;
      }

      .facebook {
        width: 100%;
        margin-top: 20px;
        background-color: $google-color;
        height: 55px;
        border: none;
      }

      .facebook:hover {
        background-color: $red;
      }

      .google {
        width: 100%;
        background-color: $fb-color;
        height: 55px;
        border: none;
      }

      .google:hover {
        background-color: $blue;
      }
    }
  }

  .active-tab {
    background-color: $color-blue;
    color: $color-button;
  }
}

@media only screen and (max-width: 995px) {
  .header {
    .navbar {
      display: block;

      img {
        width: 300px;
        margin-left: auto;
      }

      p {
        text-align: center;
      }
    }

    .navbar-nav {
      margin: auto;
      margin-top: -30px;

      li {
        margin-left: 10px;
        font-weight: 700;
      }
    }
  }

  .banner {
    background-size: 100% 350px;
    .info-banner {
      padding: 50px;
      margin-top: -20px;
      margin-left: -25px;

      p:nth-child(1) {
        margin-top: 15px;
        font-size: 27px;
      }

      p:nth-child(2) {
        font-size: 30px;
        margin-top: -20px;
      }

      img {
        width: 30px;
      }

      p:nth-child(3) {
        font-size: 16px;
        margin-top: -15px;
      }

      button {
        font-size: 16px;
        width: 190px;
        padding: 2px 4px 2px 4px;
        margin-bottom: 120px;
      }
    }
  }

  .bg-banner {
    height: 50px;
  }

  .tutorial-hapo {
    margin-top: -70px;

    .other-courses {
      margin-top: 50px;

      .courses {
        font-size: 50px;
        width: 41%;
        margin-bottom: 40px;
      }
    }

    .card-hapo img {
      height: 130px;
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }

    .take-course {
      margin-bottom: -10px;
    }

    .view-courses p {
      font-size: 28px;
    }

    .view-courses p:hover {
      font-size: 35px;
    }

    .arrow {
      width: 34px;
    }
  }
  .why-hapo {
    height: 400px;
    background-size: 100% 395px;

    .list-whyhapo span {
      line-height: 25px;
    }

    .bg-whyhapo img {
      height: 400px;
    }

    .laptop img {
      width: 277px;
      margin-top: -180px;
    }

    .info-why {
      width: 60%;
      margin-left: -60px;
      margin-top: 230px;
    }
    li {
      float: left;
      margin-left: -100px;
    }

    .laptop-phone {
      width: 30%;
      margin-top: 110px;
    }
    .laptop-phone img {
      width: 385px;
      margin-top: 100px;
    }

    p {
      font-size: 50px;
      display: block;
      margin: -120px 0px 0px 270px;
      position: absolute;
    }

    .list-whyhapo {
      margin: 0px 0px 0px 0px;
      color: $color-button;
      line-height: 35px;

      li {
        margin-top: 10px;
      }

      span {
        font-size: 13px;
      }
    }
  }

  .feedback {
    margin-top: 50px;

    .feedback-title {
      font-size: 50px;
      width: 220px;
    }

    .feedback-info {
      font-size: 18px;
      margin-top: 20px;
      width: 100%;
    }
  }

  .user {
    margin-top: 20px;

    img {
      margin-left: 30px;
    }

    .user-info {
      margin-left: 20px;
    }
  }

  .become-member {
    background-size: 100% 270px;

    .info-become {
      padding: 50px;

      p:nth-child(1) {
        font-size: 35px;
      }

      button {
        font-size: 20px;
        width: 250px;
        padding: 10px;
      }
    }
  }

  .statistic {
    .statis {
      font-size: 50px;
      width: 180px;
    }

    .div-statistic {
      width: 100%;

      .card-statistic {
        width: 33%;

        p:nth-child(1) {
          font-size: 40px;
        }

        p:nth-child(2) {
          font-size: 40px;
        }
      }
    }
  }

  .footer {
    .footer-image {
      width: 35%;

      img {
        width: 170px;
        margin-left: 0;
      }

      p {
        font-size: 16px;
        margin: 0;
      }
    }

    .home {
      width: 10%;

      p {
        font-size: 18px;
      }
    }

    .contact {
      width: 25%;

      p {
        font-size: 18px;
        margin-left: 20px;
      }
    }
    .footer-icon {
      width: 30%;

      .icon-footer {
        width: 200px;
        margin-left: 10px;
      }

      img {
        width: 40px;
        margin: 70px 0px 0px 20px;
      }
    }
  }

  .footer-end {
    p {
      font-size: 15px;
      padding: 5px;
    }
  }

  .mess-facebook {
    left: 88%;
  }

  .frame-loginn {
    position: fixed;
    margin-left: 40px;
    margin-top: 1%;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    z-index: 100;
    width: 100vw;
    background-color: $color-button;
    position: fixed;

    .navbar-brand {
      position: absolute;
      top: -5px;
      left: 25%;
      width: 150px;

      .img-logo img {
        width: 220px;
      }
    }

    .navbar-menu-div {
      margin: 40px;
    }
  }

  .banner {
    background-size: 100% 200px;
    width: 100%;
    margin-top: 60px;

    .info-banner {
      margin-left: 25px;

      p:nth-child(1) {
        font-size: 25px;
        margin-top: 150px;
      }

      button {
        width: 260px;
        padding: 5px;
        margin-bottom: 30px;
      }
    }
  }

  .tutorial-hapo {
    margin-top: -100px;
    .card-hapo {
      width: 300px;
      margin-bottom: 35px;

      img {
        height: 165px;
      }
    }

    .other-courses {
      margin-top: 20px;

      .courses {
        font-size: 40px;
        margin-bottom: 30px;
        width: 61%;
      }
    }

    .view-courses p {
      margin-top: 5px;
      font-size: 22px;

      .arrow {
        width: 31px;
      }
    }
  }

  .why-hapo {
    height: 570px;
    background-size: 100% 570px;

    .bg-whyhapo img {
      height: 570px;
    }
    .list-whyhapo {
      margin-top: 40px;
      margin-left: 75px;
      width: 150%;
      height: 400px;
    }

    .laptop img {
      width: 225px;
      margin-top: -140px;
    }

    .laptop-phone {
      width: 0%;
    }

    .laptop-phone img {
      width: 316px;
      margin-left: -140px;
      margin-top: 330px;
    }
  }

  .why-hapo p {
    line-height: 40px;
    font-size: 40px;
    margin: -70px 0px 0px 220px;
    width: 50%;
  }

  .become-member {
    background-size: 100% 185px;
    .info-become {
      padding: 50px;

      p:nth-child(1) {
        font-size: 23px;
        margin-top: -20px;
      }

      button {
        padding: 5px;
        font-size: 18px;
        width: 180px;
        color: $color-blue;
      }
    }
  }

  .feedback {
    margin-top: 50px;

    .feedback-all {
      width: 100%;
    }

    .feedback-title {
      font-size: 40px;
      width: 180px;
    }

    .feedback-info {
      font-size: 14px;
    }
  }

  .feelback-card {
    margin-top: 10px;
    box-sizing: border-box;

    .feelback-info {
      padding: 5px;
      height: 135px;
      font-size: 14px;
      width: 352px;
    }

    .feelback-border {
      padding: 5px;
      margin-top: 7px;
    }

    .user {
      margin-top: 30px;
      margin-left: -20px;

      img {
        width: 65px;
      }
    }

    .user-info {
      margin-left: 20px;

      .name-user {
        font-size: 16px;
      }

      .name-courses {
        font-size: 14px;
        margin-top: -20px;
      }

      .star {
        font-size: 14px;
        margin-top: -16px;
      }
    }
  }

  .prev {
    top: 70px;
    left: -9px;
  }

  .next {
    top: 70px;
    right: -9px;
  }

  .become-member {
    background-size: 100% 185px;
    .info-become {
      padding: 50px;

      p:nth-child(1) {
        font-size: 23px;
        margin-top: -20px;
      }

      button {
        padding: 5px;
        font-size: 18px;
        width: 200px;
      }
    }
  }
  .statistic {
    .statis {
      font-size: 60px;
      width: 200px;
    }

    .div-statistic {
      width: 100%;

      .card-statistic {
        width: 100%;
      }
    }
  }

  .footer {
    .footer-image {
      width: 65%;

      img {
        width: 170px;
        margin-left: 0;
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        margin: 0;
      }
    }

    .home {
      width: 50%;

      p {
        font-size: 17px;
      }
    }

    .contact {
      width: 50%;

      p {
        font-size: 17px;
        margin-left: 20px;
      }
    }

    .footer-icon {
      width: 35%;

      .icon-footer {
        width: 130px;
      }

      img {
        width: 30px;
        margin: 25px 0px 0px 5px;
      }
    }
  }

  .footer-end {
    p {
      font-size: 15px;
      padding: 5px;
    }
  }

  .mess-facebook {
    left: 80%;
  }

  .frame-loginn {
    margin-top: 50px;
    margin-left: 0px;
    width: 400px;
  }

  .login-register {
    padding: 0px;
    margin: 0px;
    width: 378px;
    height: 630px;
  }
}
