thu gọn chữ ở card      			 ok
banner 768					ok
cho sát vào banner chữ				ok
button to ra 					ok
chữ ở cart					okk
message						ok
xét hight cho nội dung thẻ			ok
why hapo thẳng hàng chữ				ok	
feedback khoảng cách bé lại			ok
slide có hình tam giác                         ok
statis khoăng cách rộng top			ok
khoảng cách 2 dòng become xa			ok
footer vs statuic ngắn lại			ok
chân footer ngắn lại blog với @ ngắn lại	ok
logo-hapo cao hơn chữ home			ok
25 25 19
20 20 15
///
check-box màu xanh			ok	
ấn vào remember hiện dấu x		ok
// iphone				ok
logo dịch 5px				ok
banner top 5px 				ok
khoảng cách chữ ngắn lại		ok
view all xa hơn card ngắn hơn whyhapo	ok
boder phần feelback bị méo mũi tên	ok
statistic top ngắn lại			ok
statistic ngắn lại foooter		ok
chữ trong login bé lại
dấu x bé lạ ra ngoài 			ok
remberme- passwword chữu bé lại		ok
pading header to ra			ok
pading start len..			ok
why-hapo lệch				ok
top chữ feedback		        ok
đẩy item lên footer			ok
img-footer thẳng 			ok
bỏ font-weith ở footer thẳng logo-hapo	ok
chữ đăng nhập mess đâm			ok
bỏ hover-chat hapolearn			ok
bỏ font-width for-ot			ok
icon google face lệch			ok
dấu x cho nhỏ lại			ok
// ipad					ok
cho dịch icon footer			ok
//iphone				ok
nút cho sát lại				ok
buut-ton banner bằng anywhere		ok





